<!DOCTYPE html>
<html lang="en-us">
    <head>
        <style>
            .grid-container {
                display: grid;
                grid-template-columns: 600px auto;
                background-color: white;
                padding: 10px;
            }
            .grid-item {
                background-color: white;
                border: 0px solid blue;
                padding: 20px;
                text-align: center;
            }
            .square {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: white;
                color: black;
                width: 60px;
                height: 60px;
                font-size: 24px;
            }
            .tableborder {
                border-collapse: collapse;
                border: 1px solid black;
                background-color: lightgrey;
            }

            .tableleft {
                text-align: left;    .
            }
        </style>
    </head>

<!--    flexcontainer-->

    <body onload="getBoard()">
        <div class="grid-container">
            <div class="grid-item">
                <table class="tableborder">
                    {{#each fields}}
                    <tr>
                        {{#each this}}
                        <td><div id="field{{this.col}}{{this.row}}" class="square"></div></td>
                        {{/each}}
                    </tr>
                    {{/each}}
                </table>
            </div>
            <div class="grid-item">
            </div>
            <div class="grid-item">
                <table>
                    <tr>
                        <td><button id="buttonNew" onclick="newGame()">New game</button></td>
                        <td><button id="buttonCompute" onclick="computeMove()">Compute</button></td>
                        <td><button id="buttonTakeback" onclick="takebackLastMove()">Take Back</button></td>
                        <td><input unchecked type="checkbox" id="showHints" name="showHints" value="showHints" onclick="getBoard()"><label for="showHints">Show hints</label></td>
                    </tr>
                </table>
            </div>
            <div class="grid-item">
            </div>
        </div>

        <script>
            function toFieldId(col, row) {
                return `field${col}${row}`
            }

            function showBoard(board) {
                showFields(board)
                showActionButtons(board)
//                 showInfo(board)
            }

            function setSquareBackground(sq, field) {
                if (field.lastSquarePlayed) {
                    sq.style.backgroundColor = "red"
                } else if (  ((Math.floor(field.row/3) + Math.floor(field.col/3)) % 2) == 1) {
                    sq.style.backgroundColor = "#F0F0F0"
                } else {
                    sq.style.backgroundColor = "white"
                }
            }

            function showFields(board) {
                for (let row = 0; row < board.fields.length; row++) {
                    for (let col = 0; col < board.fields[row].length; col++) {
                        var elem = document.getElementById(toFieldId(col, row));
                        var showHints = document.getElementById("showHints").checked

                        if (board.fields[row][col].value != "") {
                            elem.style.fontSize = "x-large"
                            elem.style.fontWeight = "bold"
                            elem.innerText= board.fields[row][col].value
                        } else if (showHints) {
                            elem.style.fontSize = "small"
                            elem.style.fontWeight = "lighter"
                            elem.innerText = board.fields[row][col].possibilitiesList
                        } else {
                            elem.innerText = ""
                        }
                        setSquareBackground(elem, board.fields[row][col])
                    }
                }
            }

            function disableAllButtons() {
                document.getElementById("buttonCompute").disabled = true
                document.getElementById("buttonTakeback").disabled = true
            }

            function showActionButtons(board) {
                document.getElementById("buttonCompute").disabled = !board.computePossible
                document.getElementById("buttonTakeback").disabled = !board.takeBackPossible
            }

            function showInfo(board) {
                document.getElementById("solutionCount").innerText = board.solutionCount;
                if (!board.legal) {
                    document.getElementById("legalMessage").innerText = "Illegal position!"
                } else {
                    document.getElementById("legalMessage").innerText = ""
                }
            }
        </script>


        <script>
            function executeMove(columnNumber) {
                var request = new XMLHttpRequest();
                request.open("POST", "c4api/v1/move/" + columnNumber);
                request.onreadystatechange = function() {
                    if(this.readyState === 4 && this.status === 200) {
                        var board = JSON.parse(this.responseText);
                        showBoard(board);
                        var useComputer = document.getElementById("useComputerPlayer").checked
                        if (!board.gameFinished && useComputer) {
                            computeMove()
                        }
                    }
                };
                request.send();
            }

            function takebackLastMove() {
                var request = new XMLHttpRequest();
                request.open("POST", "c4api/v1/move/takeback/");
                request.onreadystatechange = function() {
                    if(this.readyState === 4 && this.status === 200) {
                        var board = JSON.parse(this.responseText);
                        showBoard(board);
                    }
                };
                request.send();
            }

            function computeMove() {
                disableAllButtons()
                var request = new XMLHttpRequest();
                request.open("POST", "c4api/v1/move/compute/");
                request.onreadystatechange = function() {
                    if(this.readyState === 4 && this.status === 200) {
                        var board = JSON.parse(this.responseText);
                        showBoard(board);
                    }
                };
                request.send();
            }

            function getBoard() {
                var request = new XMLHttpRequest();

                request.open("GET", "c4api/v1/board/");
                request.onreadystatechange = function() {
                    if(this.readyState === 4 && this.status === 200) {
                        var board = JSON.parse(this.responseText);
                        showBoard(board);
                    }
                };
                request.send();
            }

            // const fetchBoardAsync = () => {
                // mdn fetch
                // return fetch('/board/', {
                    // method: 'GET'
                    // headers:
                // }).then(response => response).then
            // }

            // const getBoardAsync = async () => {
            //     const response = await fetchBoardAsync();
            //     console.log(response);
            //     // ...
            // }

            function newGame() {
                var request = new XMLHttpRequest();
                request.open("POST", "c4api/v1/board/");
                request.onreadystatechange = function() {
                    if(this.readyState === 4 && this.status === 200) {
                        var board = JSON.parse(this.responseText);
                        showBoard(board);
                    }
                };
                request.send();
            }
        </script>


    </body>
</html>
